In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Kalyani\Music\MSIAI5001\Project\data\dataset\training_class.csv')

In [4]:
df.head()

                 name  class
0  ENSDART00000138379      1
1  ENSDART00000075994      1
2  ENSDART00000153938      1
3  ENSDART00000152541      1
4  ENSDART00000139170      1

In [5]:
df.shape

(22867, 2)

In [9]:
df.tail()

                                                    name  class
22862  Os04t0129350_01 cdna chromosome:IRGSP_1.0:4:18...      0
22863  Os01t0660400_01 cdna chromosome:IRGSP_1.0:1:26...      0
22864  Os07t0573500_01 cdna chromosome:IRGSP_1.0:7:23...      0
22865  Os01t0715000_01 cdna chromosome:IRGSP_1.0:1:29...      0
22866  Os06t0579800_01 cdna chromosome:IRGSP_1.0:6:22...      0

In [11]:
df.describe()

              class
count  22867.000000
mean       0.386233
std        0.486896
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [ ]:
df.value_counts()

name                                                                       class
AC200178.2_FGT001 pacid=30969567 locus=AC200178.2_FG001 annot_version=5b+  0        1
AC206765.3_FGT003 pacid=30973539 locus=AC206765.3_FG003 annot_version=5b+  0        1
AC207627.2_FGT001 pacid=30975253 locus=AC207627.2_FG001 annot_version=5b+  0        1
AC215608.3_FGT001 pacid=30969284 locus=AC215608.3_FG001 annot_version=5b+  0        1
AH9.7                                                                      0        1
                                                                                   ..
ref_XM_015285091.2_                                                        0        1
ref_XM_025145964.1_                                                        0        1
ref_XM_025148433.1_                                                        0        1
ref_XM_025150255.1_                                                        0        1
ref_XM_025153981.1_                                                        0        1
Name: count, Length: 22867, dtype: int64

In [17]:
df.columns

Index(['name', 'class'], dtype='object')

In [21]:
df.dtypes

name     object
class     int64
dtype: object

In [23]:
df['class'].value_counts()

class
0    14035
1     8832
Name: count, dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [26]:
# missing
df.isnull().sum()

name     0
class    0
dtype: int64

In [ ]:
df.shape